# v1.3.10 December 10, 2013
# https://github.com/bevry/base

# Temp Files
**/*.log
**/.docpad.db

# Build Files
build/
components/
bower_components/
node_modules/
out/

# =====================================
# CUSTOM MODIFICATIONS

# Bower dependencies
src/raw/vendor

# Ignore select content from the external repository
src/README.md
src/documents/people/*
!src/documents/people/a*
src/files/associated-files/*
!src/files/associated-files/a*