# v1.3.10 December 10, 2013
# https://github.com/bevry/base

# Temp Files
**/*.log
**/.docpad.db

# Build Files
build/
components/
bower_components/
node_modules/
out/

# =====================================
# CUSTOM MODIFICATIONS

# Bower dependencies
src/raw/vendor

# Ignore select content from the external repository
src/README.md
src/documents/people/*
!src/documents/people/a*
src/documents/article/*
!src/documents/article/a*
!src/documents/article/b*
src/documents/careers/*
!src/documents/careers/a*
!src/documents/careers/b*

src/files/associated-files/people/*
!src/files/associated-files/people/a*
src/files/associated-files/article/*
!src/files/associated-files/article/b*
!src/files/associated-files/article/b*
src/files/associated-files/careers/*
!src/files/associated-files/careers/a*
!src/files/associated-files/careers/b*

src/files/images/default-covers/*
!src/files/images/default-covers/1*
!src/files/images/default-covers/2*