# v1.3.10 December 10, 2013
# https://github.com/bevry/base

# Temp Files
**/*.log
**/.docpad.db

# Build Files
build/
components/
bower_components/
node_modules/
out/

# =====================================
# CUSTOM MODIFICATIONS

# Bower dependencies
src/raw/vendor

# =====================================
# Ignore select content from the external repository.
# =====================================
# Files that need to be versioned in the myplanetdigital-content repo.
src/README.md
src/build.sh


# Ignore specific content that is version controlled in the
# myplanetdigital-content repo.
src/documents/index.html.md
src/documents/tags*

# Ignore all Privacy page related content and layout files
# as they are version controlled by the myplanetdigital-content repo.
src/documents/privacy*
src/documents/privacy*
src/partials/privacy*

# Ignore all "draft" articles and their associated-files.
src/documents/drafts/*
src/files/associated-files/drafts/*

# Ignore article content that is version controlled in
# the myplanetdigital-content repo.
src/documents/article/*
src/documents/careers/*
src/documents/work/*

# Ignore all files in the associated-files which is version
# controlled in the myplanetdigital-content repo.
src/files/associated-files/*

# Ignore all files in the associated-files which is
# version controlled in the myplanetdigital-content repo.
src/files/images/*


# =====================================
# GARBAGE Files
# =====================================

# Windows image file caches
Thumbs.db

# Mac multimedia files
.DS_Store
