@import "../includes.less";

#banner {
    color: white;
    .border-box();
    height: 557px;
    .transition(background-color 0.5s);

    &.home, &.company, &.people, &.careers {
        background-color: @mpd-orange;
    }
    &.design {
        background-color: #5f5ca9;
    }
    &.technology {
        background-color: #58c0a2;
    }
    &.community {
        background-color: #ea3d67;
    }

    .banner-text {
        max-width: 935px;
        margin: 0 auto;
        padding-top: 231px;
        .border-box();
        text-align: left;
        font-family: "Plantin";
        font-weight: bold;
        font-size: 3.6em;
        line-height: 60px;
        letter-spacing: -2.3px;
        .font-fix();

        p {
            margin: 0;
            padding: 0 10px;
        }
    }
}