@import "../includes.less";

#banner {
    color: white;
    .border-box();
    height: 557px;
    .transition(background-color 0.7s);

    &.home {
        background-color: @mpd-orange;
        .banner-text:before {
            background-image: url(../../images/bannerdoodle-test-1.png);
        }
    }
    &.company {
        background-color: @mpd-orange;
        .banner-text:before {
            background-image: url(../../images/bannerdoodle-test-2.png);
        }
    }
    &.people {
        background-color: @mpd-orange;
        .banner-text:before {
            background-image: url(../../images/bannerdoodle-test-3.png);
        }
    }
    &.careers {
        background-color: @mpd-orange;
        .banner-text:before {
            background-image: url(../../images/bannerdoodle-test-1.png);
        }
    }
    &.design {
        background-color: #5f5ca9;
        .banner-text:before {
            background-image: url(../../images/bannerdoodle-test-2.png);
        }
    }
    &.technology {
        background-color: #58c0a2;
        .banner-text:before {
            background-image: url(../../images/bannerdoodle-test-3.png);
        }
    }
    &.community {
        background-color: #ea3d67;
        .banner-text:before {
            background-image: url(../../images/bannerdoodle-test-1.png);
        }
    }

    @media only screen and (max-width :1174px) {
        height: 387px;
    }
    @media only screen and (max-width :900px) {
        height: 387px;
    }

    .banner-text {
        position: relative;
        max-width: 935px;
        margin: 0 auto;
        padding-top: 231px;
        .border-box();
        text-align: left;
        font-family: "Plantin";
        font-weight: bold;
        font-size: 3.6em;
        line-height: 60px;
        letter-spacing: -2.3px;
        .font-fix();
        .transition(opacity 0.7s ease-in-out 0.125s);

        p {
            margin: 0;
            padding: 0 10px;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 300px;
            top: 200px;
            left: 680px;
            background-image: url(../../images/bannerdoodle.png);
            background-size: 394px;
            background-repeat: no-repeat;
        }

        @media only screen and (max-width :1174px) {
            font-size: 3.3em;
            padding-top: 90px;
            width: 855px;
        }
        @media only screen and (max-width :900px) {
            font-size: 3.3em;
            padding: 90px 20px 0;
            width: 100%;
        }
    }
}