@import "../flexslider.less";

.border-box() {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#main {
	.landing-content {
		background: #F05A28;

		#portfolio {
		  background: #F4F4F4;
		  color: white;

		  h2 {
		    font-family: "TradeGothic", sans-serif;
		    font-weight: normal;
		    line-height: 21px;
		    letter-spacing: -0.5px;
		    font-size: 18px;
		    -webkit-font-smoothing: antialiased;
		    max-width: 1140px;
		    margin: 0 auto;
		    .border-box();
		  }

		  .flexslider {
		  	background: none;
		  	border: none;
		  	margin: 0;

		  	.slides > li {
		  		position: relative;
		  		overflow: hidden;
		  		height: 680px;

		  		@media screen and (max-width: 520px) {
		  			height: 580px;
		  		}

		  		@media screen and (max-width: 400px) {
		  			height: 540px;
		  		}

		  		@media screen and (max-width: 320px) {
		  			height: 500px;
		  		}

		  		&.case-1 {
		  			background:  #363232;
		  			.case-button a:hover {
		  				color: #363232;
		  			}
		  		}
		  		&.case-2 {
		  			background:  #5D6976;
		  			.case-button a:hover {
		  				color: #5D6976;
		  			}
		  		}
		  		&.case-3 {
		  			background:  #172D38;
		  			.case-button a:hover {
		  				color: #172D38;
		  			}
		  		}
		  	}

		  	.flex-control-nav {
			  	width: 100%;
			  	max-width: 1140px;
			  	position: relative;
			  	bottom: 40px;
			  	text-align: left;
			  	padding: 0 30px;
			  	.border-box();
			  	margin: -21px auto 0;

	  			@media screen and (max-width: 1174px) {
	  				padding: 0 60px;
	  	    }
		  	}

		  	.flex-control-paging li {
		  		vertical-align: middle;

					a {
						width: 8px;
						height: 8px;
						background: white;
						border: 2px solid transparent;

						&:hover {
						  background: #ccc;
						  border: 2px solid transparent;
						}

						&.flex-active, &.flex-active:hover {
							width: 12px;
							height: 12px;
						  background: none;
						  border: 1px solid white;
						  cursor: default;
						}
					}
		  	}
		  }
			.case-image {
				max-width: 1000px;
				width: 100%;
				position: absolute;
				top: 80px;
				left: 50%;
				&.slide-1 {
					max-width: 884px;

					@media screen and (max-width: 720px) {
						max-width: 550px;
					}
					@media screen and (max-width: 430px) {
						max-width: 350px;
					}
				}

				@media screen and (max-width: 520px) {
					max-height: 230px;
					width: auto;
				}
				@media screen and (max-width: 430px) {
					max-height: none;
					width: 100%;
				}
			}
		  .case-studies {
		    max-width: 1140px;
		    margin: 0 auto;
		    padding: 100px 30px 115px;
				.border-box();

		    .case {
		      max-width: 500px;
		      width: 47%;
		      height: 420px;
		      position: relative;
		      h3 {
		        font-family: "Plantin", serif;
		        font-weight: bold;
		        font-size: 38px;
	        	line-height: 1.1;
		        -webkit-font-smoothing: antialiased;

		        @media screen and (max-width: 1024px) {
		        	font-size: 32px;
		        }
		        @media screen and (max-width: 800px) {
		        	font-size: 28px;
		        }
		        @media screen and (max-width: 400px) {
		        	font-size: 18px;
		        	line-height: 20px;
		        }
		      }
		      p {
		        font-family: "Plantin", serif;
		        font-size: 18px;
		        line-height: 24px;
		        -webkit-font-smoothing: antialiased;
		        margin: 0;

		        @media screen and (max-width: 1024px) {
		        	font-size: 16px;
		        }
		      }
		    }

		    @media screen and (max-width: 1174px) {
					padding: 100px 60px 115px;
		    }
		  }
			.case-button {
				max-width: 1140px;
				width: 100%;
				height: 44px;
				margin: 0 auto;
				position: relative;
				top: -90px;
				padding: 0 30px;
				.border-box();

				@media screen and (max-width: 1174px) {
					padding: 0 60px;
		    }

				a {
				  color: white;
				  background: none;
				  border: 1px solid white;
				  padding: 13px 24px;
				  text-decoration: none;
				  border-radius: 4px;
				  -webkit-font-smoothing: antialiased;
				  font-family: "TradeGothic", sans-serif;

				  &:hover {
				  	background: white;
				  	color: #363232;
				  }
				}
			}

		  @media screen and (max-width: 720px) {
		  	padding-top: 0;

		  	.flexslider {
		  	  .flex-control-nav {
		  	    text-align: center;
		  	    position: absolute;
		  	    top: 50px;
		  	    bottom: auto;
		  	  }
		  	}

				h2 {
					display: none;
				}
				.case-image {
					position: static;
					padding: 0 30px 15px;
					max-width: 550px;
					margin: 0 auto;
					.border-box();
				}
				.case-studies {
					padding: 0 30px 20px;

					.case {
						height: auto;
						width: 100%;
						max-width: 100%;

						h3 {
							margin-top: 70px;
						}

						p { display: none; }
					}
				}
				.case-button {
					position: static;
					text-align: center;
					padding-top: 30px;
					padding-bottom: 80px;
				}
		  }
		}
		#clients {
		  padding: 70px 30px;
		  background: #F4F4F4;
		  color: #242424;

		  .clients-block {
		    max-width: 1140px;
		    margin: 0 auto;
		    .border-box();
		    text-align: center;
		  }

		  h2 {
		  	font-family: "TradeGothic",sans-serif;
		  	font-weight: normal;
		  	line-height: 21px;
		  	letter-spacing: -0.5px;
		  	font-size: 18px;
		  	-webkit-font-smoothing: antialiased;
		  	max-width: 1140px;
		  	margin: 0 auto 32px auto;
		  	.border-box();
		  }

		  .clients-list {
		    display: inline-block;
		    vertical-align: top;
		    list-style: none;
		    width: 100%;
		    margin: 0;
		    padding: 0;

		    li {
		      display: inline-block;
		      width: 180px;
		      height: 80px;
		      margin-bottom: 20px;
		      .border-box();
		      text-indent: 100%;
		      overflow: hidden;
		      white-space: nowrap;
		      background-repeat: no-repeat;
		      background-position: center center;

		      img {
		      	display: block;
		      	margin: 0 auto;
		      	position: relative;
		      	top: 50%;
		      	margin-top: -15px;
		      }
		    }
		  }

		  @media screen and (max-width: 1140px) {
		    .clients-content {
		      display: none;
		    }
		    .clients-block {
		      padding: 0;
		    }
		    .clients-list {
		      display: block;
		      margin: 0 auto;
		    }
		  }

		  @media screen and (max-width: 873px) {
		    .clients-list {
		      max-width: 640px;
		    }
		  }

		  @media screen and (max-width: 657px) {
		    padding: 70px 0;
		    .clients-list {
		      max-width: 430px;
		    }
		  }

		  @media screen and (max-width: 443px) {
		    padding: 50px 0;
		    .clients-list {
		    	font-size: 0;
		      width: 100%;
		      li {
		      	width: 50%;
		      	background-size: 80%;
		        margin-bottom: 0;
		      }
		    }
		  }
		}

		// Testimonial section

		#testimonial {
		  background: #ffffff;
		  padding: 0 0 40px;

		  .client-quote {
		    text-align: center;
		    p {
		    	max-width: 840px;
		    	margin: 0 auto;
		      position: relative;
		      font-family: "Plantin", serif;
		      -webkit-font-smoothing: antialiased;
		      font-size: 24px;
		      padding: 100px 80px 20px;
		      .border-box();

		      &:before {
		        content: '\201C';
		        display: block;
		        position: absolute;
		        font-size: 120px;
		        color: #F4F4F4;
		        left: 15px;
		        top: 35px;
		      }

		      @media screen and (max-width: 720px) {
	      		font-size: 20px;
	      		padding: 40px 8% 20px;
	      		&:before {
	      			display: none;
	      		}
		      }

		      @media screen and (max-width: 400px) {
						font-size: 14px;
						line-height: 18px;
		      }
		    }
		    .client-title {
		      font-family: "TradeGothic", sans-serif;
		      -webkit-font-smoothing: antialiased;
		      font-size: 14px;

		      @media screen and (max-width: 400px) {
						font-size: 12px;
						line-height: 18px;
		      }

		      strong {
		        color: #F05A28;
		      }
		      padding-bottom: 50px;
		    }
		  }

		  .flexslider {
		  	margin-bottom: 60px;

  	  	.flex-control-paging li {
  	  		vertical-align: middle;

  				a {
  					width: 8px;
  					height: 8px;
  					background: #bdbdbd;
  					border: 2px solid transparent;

  					&:hover {
  					  background: #999;
  					  border: 2px solid transparent;
  					}

  					&.flex-active, &.flex-active:hover {
  						width: 12px;
  						height: 12px;
  					  background: none;
  					  border: 1px solid #bdbdbd;
  					  cursor: default;
  					}
  				}
  			}
		  }

			@media screen and (max-width: 720px) {
				padding: 30px 0 0;
				.client-title {
					padding-bottom: 30px;
				}
				.flexslider {
					margin-bottom: 0;
				}
				.flex-control-nav {
					top: 0;
					bottom: auto;
				}
			}
		}

		// Learn more section

		#learn-more {
		  display: block;
		  background: #F05A28;
		  color: white;
		  margin: 0 auto ;
		  padding: 0;
		  width: 100%;
		  max-width: 1440px;
		  font-size: 0;

		  .info {
		    display: inline-block;
		    vertical-align: top;
		    width: 33.3%;
		    padding: 115px 3.5%;
		    background: #F05A28;
		    .border-box();
		    height: 480px;

  	    &:nth-child(2) {
      		background: #E24F1E;
  	    }

  	    @media screen and (max-width: 1315px) {
		    	padding: 90px 3.5%;
  	    }

  	    @media screen and (max-width: 1125px) {
		    	padding: 80px 30px;
  	    }

		    @media screen and (max-width: 720px) {
		    	padding: 40px 30px;
					width: 100%;
					height: auto;
					text-align: center;
		    }

		    h2 {
		      margin: 0 0 23px 0;
		      font-family: "TradeGothic", sans-serif;
		      -webkit-font-smoothing: antialiased;
		      font-size: 18px;
		      font-weight: normal;

          @media screen and (max-width: 720px) {
      			text-align: left;
          }
		    }

		    p {
		      margin: 0 0 40px;
		      font-family: "Plantin", sans-serif;
		      -webkit-font-smoothing: antialiased;
		      font-weight: bold;
		      font-size: 24px;
		      line-height: 28px;

		      @media screen and (max-width: 1024px) {
		      	font-size: 20px;
		      	line-height: 1.1;
		      }
          @media screen and (max-width: 720px) {
      			text-align: left;
          }
          @media screen and (max-width: 400px) {
      			font-size: 18px;
      			line-height: 20px;
          }
		    }

		    a {
		    	display: inline-block;
		      color: white;
		      background: none;
		      border: 1px solid white;
		      font-size: 14px;
		      padding: 10px 22px;
		      text-decoration: none;
		      border-radius: 4px;
		      font-family: "TradeGothic", sans-serif;
		      -webkit-font-smoothing: antialiased;

		      &:hover {
		      	background: white;
		      	color: #F05A28;
		      }
		    }
		  }
		}
	}
}