@import "../includes.less";
@menu-transition-time:0.4s;
@indicator-width: 8px;
@menu-hover-offset:11px;

@media only screen and (min-width :1175px) {
	body {
		#menu {
			.user-select();
			.translateZ();
			.transition-transform(@menu-transition-time);
			position: fixed;
			left:0;
			text-align: center;
			overflow: hidden;
		}

		&.small-menu {
			 #menu {
				.translate3d(0, -94px, 0);
			}

			ul li:after {
				.transform(translate3d(0, -94px, 0) scale(0.98));
			}

			#menu ul > li {
				.translate3d(0, 30px, 0);
			}
		}
	}
}

#menu {
	color:#000;
	background:#fff;
	font-size:0;

	> ul {
		width: 100%;
		max-width: 1140px;
		margin: 0 auto;
		padding:0;
		list-style: none;
	}
	ul > li {
		.border-box();
		text-align: center;
		vertical-align: top;
		display:inline-block;
		font-family: TradeGothic;
		font-size: 13px;
		letter-spacing: -0.03em;
		list-style: none;
		height:@menu-height;
		line-height:168px;
		width:100px;
		position:relative;
		color: black;
		a {
				display:inline-block;
				height:100%;
				position: relative;
				z-index: 1;
		}
		&.active {
			background:#fff;
			color:#000;
		}
		@media only screen and (max-width: 1174px) {
			font-size: 15px;
			&:last-of-type {
				border-bottom:0;
			}
		}
		@media only screen and (min-width: 1175px) {
			height:@menu-height;
			margin-top:-@menu-hover-offset;
			background:transparent;

			&.home {
				float: left;
				margin-left: 30px;

				a {
					height: 81px;
					width: 81px;
					font-size: 0;
					background: url('../images/spritempd.png') no-repeat 0 -120px;
					background-size: 434px auto;
					display: block;
					.transform(translateY(35px));
				}
				&:before {
					display: none;
				}
				&.hover, &.active {
					a {
						.transform(translateY(35px));
						background-position:0 -37px;
					}
				}
			}
			a {
				color: black;
				text-decoration: none;
				.transition-transform(@menu-transition-time);
			}
			a > span {
				z-index: 1;
				position: relative;
				top: -2px;
			}
			&:before {
				content:'';
				position:absolute;
				top:56px;
				left:27px;
				width: 50px;
				height: 52px;
				opacity: 0.12;
				background:url('../images/spritempd.png') 0 0 no-repeat;
				background-size:495px;
				.transition-transform(@menu-transition-time, opacity @menu-transition-time);
			}
			&.company, &.what-we-do {
				&:before {
					background-position: -443px -53px;
				}
			}
			&.work {
				&:before {
					background-position: -311px -52px;
					width: 60px;
					height: 52px;
					left: 21px;
					top: 52px;
				}
			}
			&.careers {
				&:before {
					background-position: -93px -52px;
					width: 43px;
					height: 52px;
					left: 29px;
					top: 53px;
				}
			}
			&.contact {
				margin-right: 20%;
				&:before {
					background-position: -377px -49px;
					width: 59px;
					height: 57px;
					left: 17px;
					top: 48px;
					background-size: 495px;
				}
			}
			&.design,
			&.technology,
			&.community {
				&:before {
					opacity: 0;
				}
			}
			&.design {
				&:before {
					width: 65px;
					left: 17px;
					top: 50px;
					background-position: -135px -48px;
				}
				&:after {
					content: 'thoughts';
					position: absolute;
					font-family: TradeGothic;
					font-size: 13px;
					letter-spacing: -0.03em;
					font-weight: bold;
					width: 70px;
					text-align: left;
					top: -2px;
					left: -65px;
					height: 100px;
					background: url('../images/spritempd.png') -423px -104px no-repeat;
					background-size: 495px;
				}
			}
			&.technology {
				&:before {
					background-position: -202px -51px;
					left: 24px;
					top: 52px;
				}
			}
			&.community {
				&:before {
					background-position: -254px -50px;
					width: 53px;
					left: 23px;
					top: 51px;
				}
			}
			&.hover, &.active {
				a {
					.transform(translateY(35px));
				}
				&:before {
					opacity: 1;
				}
			}
		}
	}
}
[data-role="menu-indicator"] {
	display:none;
}
@media only screen and (min-width: 1175px) {
	#menu  {
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13); //4px -1px 13px #ddd;
	}
	[data-role="menu-indicator"] {
		.transition-transform(@menu-transition-time);
		.translateZ();
		display:inline-block;
		width: 22px;
		height: 10px;
		background: url('../images/spritempd.png') no-repeat -283px -219px;
		background-size: 495px;
		top:@menu-height -  @menu-hover-offset;
		position:fixed;
		z-index:2;
	}
	 .menu-hover {
	 	position:absolute;
		width: 30px;
		height: 43px;
		background:url('../images/spritempd.png') no-repeat -140px 0;
		background-size:533px;
		margin:40px 0 0 30px;
		.translateZ();
	}
}

@media only screen and (max-width: 1174px) {
	#menu {
		color:#fff;
		background:#232323;

		> ul {
			font-size:0;
			margin:0;
			padding:0;
		}
		ul > li {
			text-align: left;
			padding: 0;
			display:inline-block;
			height:52px;
			line-height:53px;
			border-bottom:1px solid #333;
			width:100%;
			color: white;

			a {
				box-sizing: border-box;
				min-width: 100%;
				padding: 0 30px;
				text-decoration: none;
				color: inherit;
			}
		}
	}
}
