article {
	border: 1px dotted gray;
}

.navbar-brand {
	background-image: url('../images/logo_sprite.png');
	width: 100px;
	height: 100px;
	background-position: top left;
	background-repeat: no-repeat;
}
.navbar-brand span {
	display: none;
}