@import "fonts.less";
@import "includes.less";
@import "normalize.css.less";

html, body {
  margin:0;
  padding:0;
  background:#444;
}

html {
  min-width: 960px;
}

body {
  background: #f0f0f0;
}

#wrap {
  padding-top: 1px;
  margin-top:-1px;
}

#viewport {
  width:100%;
  height:100%;
  
  
  .border-box();
  margin: (@menu-height + 30) 0 0 0;
  z-index:1;
  position: relative;

  #main, #article {
    .border-box();
    vertical-align: top;
    font-size:14px;
    display:inline-block;
    min-height:100%;
    width:100%;
    position:relative;
    z-index:1;
    > .main-wrap {
      max-width:@max-width;
      margin:0 auto;
    }
  }
}

#logo {
  height:@logo-width;
  width:@logo-width;
  position:fixed;
  top:9px;
  font-size: 0;
  left:@logo-gutter-width;
  background:url('../images/spritempd-small.png') 3px -91px no-repeat transparent;
  z-index: 101;  
}

body.width-mobile #logo {
  left:@logo-gutter-width - 3;
}

#viewport {
  margin-top: @menu-height;
}

body.article #viewport {
  margin-top: 100px;
}

@menu-transition-time:0.35s;
@indicator-width: 8px;
@menu-hover-offset:11px;
@menu-doodle-width:29px;
@menu-line-width:84px;

#menu {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index:100;
  width:100%;
  color:#000;
  background:#fff;
  border-bottom: 1px solid #ddd;

  ul {
    overflow:hidden;
    font-size:0;
    margin:0;
    padding:0;
  }
}

#menu ul > li {
  .border-box();
  text-align: center;
  vertical-align: top;
  display:inline-block;
  list-style: none;
  text-transform:lowercase;
  height:@menu-height;  
  width:@menu-height;
  position:relative;
  margin-top:-@menu-hover-offset;  
  font-size:15px;
  background:transparent;
  padding: 0;
  zoom: 1;
  &.active {
    color:#000;
  }
  &.all {
    display:none;
  }
  > a {
    display: block;
    .border-box();
    padding-top: 75px;
    height: 100%;
    font-size: 14px;
    z-index: 1;
    position: relative;
    text-decoration: none;
    color: #000;
    > span {
      border-top : 1px solid black;
      background: white;
      padding-top: 0.2em;
    }
  }
  &:before {
    content:'';
    position:absolute;
    top: 44px;
    left: 47px;
    width: 35px;
    height: 40px;
    background:url('../images/spritempd-small.png') no-repeat 0 0;    
    zoom: 1;
  }
  &.company{
    &:before {
      background-position: -312px 0;
    }
    &.hover, &.active {
      a > span {
        color: @company-color;
      }
      &:before {
        background-position: -312px -41px;
      }
    }
  }
  &.people {
    &:before {
      background-position: -270px 0;
    }
    &.hover, &.active {
      a > span {
        color: @team-color;        
      }
      &:before {
        background-position: -270px -40px;
      }
    }
  }
  &.careers {
    &:before {
      background-position: -103px 0;
    }
    &.hover, &.active {
      a > span {
        color: @careers-color;
      }
      &:before {
        background-position: -103px -40px;
      }
    }
  }
  &.contact {
    &:before {
      background-position: -414px 0;
    }
    &.hover, &.active {
      a > span {
        color: @contact-color;
      }
      &:before {
        background-position: -414px -40px;
      }
    }
  }
  &.design {
    &:before {
      background-position: -145px 0;
    }
    &.hover, &.active {
      a > span {
        color: @design-color;
      }
      &:before {
        background-position: -145px -40px;
      }
    }
  }
  &.technology {
    &:before {
      background-position: -189px 0;
    }
    &.hover, &.active {
      a > span {
        color: @development-color;
      }
      &:before {
        background-position: -189px -40px;
      }      
    }
  }
  &.people {
    &:before {
      background-position: -265px 0;
    }
    &.hover, &.active {
      a > span {
        color: @team-color;        
      }
      &:before {
        background-position: -265px -40px;
      }
    }
  }
  &.careers {
    &:before {
      background-position: -99px 0;
    }
    &.hover, &.active {
      a > span {
        color: @careers-color;
      }
      &:before {
        background-position: -99px -40px;
      }
    }
  }
  &.contact {
    &:before {
      background-position: -409px 0;
    }
    &.hover, &.active {
      a > span {
        color: @contact-color;
      }
      &:before {
        background-position: -409px -40px;
      }
    }
  }
  &.design {
    &:before {
      background-position: -140px 0;
    }
    &.hover, &.active {
      a > span {
        color: @design-color;
      }
      &:before {
        background-position: -140px -40px;
      }
    }
  }
  &.technology {
    &:before {
      background-position: -184px 0;
    }
    &.hover, &.active {
      a > span {
        color: @development-color;
      }
      &:before {
        background-position: -184px -40px;
      }      
    }
  }
  &.business {
    &:before {
      background-position: -229px 0;
    }
    &.hover, &.active {
      a > span {
        color: @business-color;
      }
      &:before {
        background-position: -229px -40px;
      }
    }
  }
  &.hover, &.active {
    > a {
      padding-top: 87px;
      > span {
        border-top: none;
      }
    }
  }
}

body.width-desktop #menu,
body.width-mobile  #menu {
  text-align: left;
  padding-left: 144px;
}

@ie-1024-menu-width: 104px;

body.width-mobile #menu ul > li {
  width: @ie-1024-menu-width;
  &:before {
    left: (@ie-1024-menu-width - @menu-doodle-width)/2 ;
  }
  &:after {
    width:@menu-line-width - 6;
    left:(@ie-1024-menu-width - (@menu-line-width - 6)) / 2;
  }
}


// Tiles

@tile-height: 250px;
@tile-width: 33%;
@tile-padding: 12px;
@tag-color-on-black: #8a8a8a;
@tag-color-on-white: #999;
@doodle-line: #383838;
@doodle-line-white: #eee;
@quote-color: #7c7c7c;

#main {
  font-family: "TradeGothic", Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  .border-box();

  .grid-size {
    width: @tile-width;
  }
  .tile {
    display: inline-block;
    font-size: 62.5%;
    height: @tile-height;
    width: @tile-width;
    padding: @tile-padding;
    .border-box();

    .content {
      .border-box();
      width: 100%;
      height: 100%;
      background: #fff;
      overflow: hidden;

      .tile-content {
        position: relative;
        & .description {
          display: none;
        }
      }
      a.tile-title {
        display: block;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 75px 40px 0 70px;
        .border-box();
      }
      h2 {
        font-family: 'Plantin';
        font-size: 2.5em;
        color: black;
        letter-spacing: -1px;
        line-height: 1.1;
        margin: 0;
      }
      p.quote {
        font-size: 2em;
        color: @quote-color;
        margin: 20px 0 0;
        &:before {
          margin-left: -0.9em;
          content: '\201C\0020';
        }
        &:after {
          content: '\0020\201D';
        }
      }
      a.tile-image {
        display: block;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        .background-cover();

        &[data-focus="left"] {
          background-position: center left;
        }
        &[data-focus="right"] {
          background-position: center right;
        }
      }
      a.tile-title {
        cursor: pointer;
        text-decoration: none;
      }
      ul.tags {
        margin: 0;        
        position: absolute;
        top: 0;
        left: 0;
        padding: 35px 0 0 73px;

        li {
          list-style: none;
          display: inline-block;          
          position: relative;          
          a.tag {
            font-family: 'TradeGothic';
            color: @tag-color-on-white;
            font-size: 1.5em;
            text-decoration: none;
            text-transform: capitalize;
          }          
        }
      }
      a.tile-doodle {
        position: absolute;
        top: -38px;
        left: -62px;
        display: block;
        width: 75px;
        height: 75px;        
        overflow: hidden;
        cursor: pointer;        

        &:before {
          position: absolute;
          top: 25px;
          left: 20px;
          content: '';
          display: block;
          height: 39px;
          width: 35px;
          background-image: url(../images/spritempd-small.png);
        }
        &:hover:before {
          top: 18px;
          left: 12px;
        }
        &.company:before {
          background-position: -312px -40px;
        }
        &.people:before {
          background-position: -265px -40px;
        }
        &.careers:before {
          background-position: -99px -40px;
        }
        &.contact:before {
          background-position: -409px -40px;
        }
        &.design:before {
          background-position: -140px -40px;
        }
        &.technology:before {
          background-position: -184px -40px;
        }
        &.business:before {
          background-position: -224px -40px;
        }
      }
    }

    &.medium {
      height: @tile-height * 2;
      .tile-content {
        height: 50%;
      }
    }
    &.large, &.featured, &.hero {
      width: @tile-width * 2;
      height: @tile-height * 2;
      .tile-content {
        height: 50%;
      }
      a.tile-title {
        height: 100%;
        padding: 72px 40px 0 83px;
        .border-box();
      }
      h2 {
        font-size: 3.8em;
      }
      ul.tags {
        top: 0;
        left: 0;
        padding-top: 37px;
        padding-left: 90px;
      }
      a.tile-doodle {
        top: -38px;
        left: -62px;
        width: 75px;
        height: 75px;
        &:before {
          top: 25px;
          left: 20px;
        }
      }
    }
    &.featured, &.hero {
      width: 100%;
      height: @tile-height * 2;
      a.tile-title {
        padding: 72px 83px 0;
      }
      h2 {
        font-size: 5.2em;
      }
    }
    &.hero {
      width: 100%;
      height: @tile-height * 3;
      a.tile-image {
        height: 66.66666666%;
      }
      .tile-content {
        height: 33.33333333%;
      }
    }
    &.black {
      a.tile-title {
        background-color: black;
      }
      h2 {
        color: white;
      }
      a.tile-doodle {
        border-color: @doodle-line;
      }
      ul.tags li {
        a.tag {
          color: @tag-color-on-black;
        }
        &:first-of-type {
          a.tag {
            color: white;
          }
        }
      }
    }
  }
}

body.article #main {
  padding-bottom: 0px;
}

.footer {
  background-color: black;
  color: white;
  padding-top: 44px;

  .contact-info {
    position: relative;
    width: 650px;
    margin: 0 auto;
    background-color: #232323;
    .email-us,
    .call-us {
      display: inline-block;
      padding-top: 16px;
      padding-bottom: 16px;
      text-align: center;
      width: 50%;
      &:first-child {
        width: 49%;
        border-right: 1px solid #484848;
      }
      h3 {
        font-family: "TradeGothic";
        font-weight: normal;
        font-size: 16px;
        color: #b0b0b0;
        margin-bottom: 0;
        margin-top: 0;
      }
      p {
        font-family: "Plantin";
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
  .additional-info {
    margin: 125px 0 0;
    padding-bottom: 20px;
    text-align: center;
    
    font-family: 'TradeGothic';
    h3 {
      font-size: 15px;
      margin-top: 0;
    }

    & > div {
      text-align: left;  
    }
  }
  .contact {
    display: inline-block;
    position: relative;
    height: 75px;
    padding: 0 30px 10px 20px;
    border-right: 1px solid #555;
    width: 170px;
    margin-bottom: 50px;
    h3 {
      display: block;
      font-size: 15px;
      font-weight: normal;
      color: white;
    }
    ul.social-media-footer {
      padding: 0;
      margin: 0;
      font-size: 0;
      list-style: none;
      li {
        display: inline-block;
        margin-right: 10px;
        a {
          display: inline-block;
          position: relative;
          .hide-text();
          width: 23px;
          height: 23px;
          background: url(../images/spritempd-small.png) 0 0 no-repeat;
          background-size: 533px;
          &:after {
            content: '';
            display: block;
            position: absolute;
            width: 23px;
            height: 23px;
            top: 0;
            left: 0;
            background: url(../images/spritempd-small.png) 0 0 no-repeat;
            background-size: 533px;
            opacity: 0.01;
            .transition(opacity 0.3s);
          }
          &:hover:after {
            opacity: 1;
            .transition(opacity 0.3s);
          }
          &.twitter {
            background-position: -96px -166px;
            &:after {
              background-position: -96px -188px;
            }
          }
          &.facebook {
            background-position: -130px -166px;
            &:after {
              background-position: -130px -188px;
            }
          }
          &.dribbble {
            background-position: -165px -166px;
            &:after {
              background-position: -165px -188px;
            }
          }
          &.drupal {
            background-position: -199px -166px;
            &:after {
              background-position: -199px -188px;
            }
          }
          &.linkedin {
            background-position: -234px -166px;
            &:after {
              background-position: -234px -188px;
            }
          }
        }
      }
    }
    @media screen and (max-width: 1024px) {
      height: 280px;
      float: left;

      ul.social-media-footer {
        bottom: 150px;
      }
    }
    @media screen and (max-width: 767px) {
      height: 200px;
      &:before {
        display: none;
      }
      ul.social-media-footer {
        bottom: 83px;
      }
    }
    @media screen and (max-width: 650px) {
      width: 100%;
      height: 90px;
      margin: 0;
      padding: 0;
      border: 0;
      text-align: center;
      float: none;

      ul.social-media-footer {
        display: block;
        position: static;
        margin-top: 20px;
      }
    }
  }
  .address {
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 30px;
    margin-bottom: 100px;
    width: 187px;

    &:last-of-type {
      padding-right: 0;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 62px;
      height: 64px;
      background: url(../images/spritempd-small.png) -462px -1px no-repeat;
      background-size: 533px;
    }
    &.toronto {
      width: 125px;
      &:before {
        top: -74px;
        width: 62px;
        height: 64px;
      }
    }
    &.vancouver {
      width: 160px;
      &:before {
        height: 44px;
        top: -54px;
        left: 23px;
        background-position: -463px -73px;
      }
    }
    &.chernihiv {
      width: 140px;
      &:before {
        top: -64px;
        left: 21px;
        height: 56px;
        background-position: -471px -120px;
      }
    }
    &.chicago {
      width: 150px;
      &:before {
        top: -64px;
        left: 13px;
        height: 56px;
        background-position: -302px -150px;
      }
    }
    h3 {
      font-weight: normal;
      font-size: 15px;
    }
    span {
      display: block;
      color: #5b5b5b;
      font-size: 15px;
    }
    @media screen and (max-width: 1024px) {
      padding-left: 38px;
      width: 210px;
      &.toronto:before {
        left: 34px;
      }
      &.vancouver:before {
        left: 42px;
      }
      &.chernihiv:before {
        left: 39px;
      }
      &.chicago:before {
        left: 35px;
      }
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
      &:before {
        display: none;
      }
    }
    @media screen and (max-width: 650px) {
      text-align: center;
      padding: 0;
      &.toronto, &.chicago, &.chernihiv, &.vancouver {
        width: 100%;
      }
    }
  }
}

// Profiles
.profile-banner {
  text-align: center;
  width: 100%;
  max-height: 480px;
  height: auto;
  font-size: 62.5%;
  background-image: none !important;
  & > img {
    display: block !important;
    font-size: 0;
    visibility: visible !important;
    width: 100%;
    height: auto;
  }
}

.profile-body {
  z-index: 1;
  font-family: "Plantin";
  font-size: 10px;
  width: 100%;
  max-width: 1350px;
  margin: -130px auto 80px;
  background: white;
  padding: 0 0 60px;
  position: relative;
  .border-box();

  .profile-content {
    color: #242424;
    max-width: 850px;
    margin: 0 auto;
    padding-top: 1px;

    .profile-picture {
      margin: -83px auto 0;
      width: 150px;
      height: 150px;      
      overflow: hidden;      
      border: 10px solid white;
      position:relative;
      .border-radius(130px);
      img {
        max-height: 100%;
        width: auto;
      }      
    } 

    h1 {
      text-align: center;
      margin-bottom: 33px;
      font: 4.5em/1.5 "TradeGothic";
      font-weight: bold;
      letter-spacing: -0.01em;      
    }
    ul {
      display: block;
      text-align: center;
      padding: 0;
      margin: 0 auto 80px;
      list-style: none;
      li {
        display: inline-block;
        padding-right: 15px;
        a {
          display: inline-block;
          position: relative;
          .hide-text();
          text-decoration: none;
          height: 40px;
          width: 40px;
          background: url(../images/social-media-icons-ie8.png) 0 0 no-repeat;        
          &.twitter {
            background-position: 5px 5px;
            &:hover {
              background-position: 5px -40px;
            }
          }
          &.dribbble {
            background-position: -115px 5px;
            &:hover {
              background-position: -115px -40px;
            }
          }
          &.github {
            background-position: -175px 5px;
            &:hover {
              background-position: -175px -40px;
            }
          }
          &.linkedin {
            background-position: -235px 5px;
            &:hover {
              background-position: -235px -40px;
            }
          }
          &.stackoverflow {
            background-position: -295px 5px;
            &:hover {
              background-position: -295px -40px;
            }
          }
        }
      }
    }
    .profile-quote {
      position: relative;
      text-align: center;
      width: 100%;
      padding: 30px 95px;
      margin-bottom: 55px;
      background: #f0f0f0;
      font: 2.3em/1.5 "TradeGothic";
      .border-box();
      &:before {
        content: '\201C';
        display: block;
        position: absolute;
        left: 11px;
        top: 15px;
        font-family: 'Plantin', serif;
        font-size: 72px;
        line-height: 1;
        color: #e2e2e2;        
      }
      &:after {
        content: '\201D';
        display: block;
        position: absolute;
        right: 11px;
        bottom: 0px;
        font-family: 'Plantin', serif;
        font-size: 72px;
        line-height: 1;
        color: #e2e2e2;        
      }
      @media screen and (max-width: 1024px) {
        padding: 30px 95px;
        font-size: 2.1em;
      }
      @media screen and (max-width: 560px) {
        padding: 30px 55px;
        font-size: 2em;
      }
      @media screen and (max-width: 480px) {
        padding: 20px 30px;
        margin-bottom: 35px;
        font-size: 1.5em;
        &:before {
          font-size: 3em;
          left: 6px;
          top: 7px;
        }
        &:after {
          font-size: 3em;
          right: 6px;
          bottom: -18px;
        }
      }
    }
    h2 {
      margin-bottom: 33px;
      font: 2.8em/1.5 "Plantin";
      font-weight: bold;
      letter-spacing: -0.01em;

      @media screen and (max-width: 1024px) {
        padding: 0 8.4%;
        font-size: 2.5em;
        margin-bottom: 25px;
      }
      @media screen and (max-width: 560px) {
        padding: 0 5%;
        margin-bottom: 20px;
      }
      @media screen and (max-width: 480px) {
        padding: 0 3%;
        margin-bottom: 15px;
      }
    }
    p {
      margin-bottom: 33px;
      font: 2.3em/1.5 Plantin;
      letter-spacing: -0.01em;
      .border-box();

      @media screen and (max-width: 1024px) {
        padding: 0 8.4%;
        font-size: 2em;
      }
      @media screen and (max-width: 560px) {
        padding: 0 5%;
        font-size: 1.8em;
      }
      @media screen and (max-width: 480px) {
        padding: 0 3%;
        font-size: 1.7em;
      }
    }
    .article-footer {
      border-top: 1px solid #ccc;
      margin-top: 150px;
      width: 100%;
      .footer-doodle {
        position: relative;
        height: 110px;
        width: 90px;
        margin: -55px auto 0;
        background: white;
        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 42px;
          height: 40px;
          left: 22px;
          top: 31px;
          background: #fff url(../images/spritempd-small.png) 0 0 no-repeat;            
        }
        &.company:before {
          background-position: -312px 0;
        }
        &.team:before {
          background-position: -265px 0;
        }
        &.careers:before {
          background-position: -99px 0;
        }
        &.contact:before {
          background-position: -409px 0;
        }
        &.design:before {
          background-position: -140px 0;
        }
        &.development:before {
          background-position: -184px 0;
        }
        &.business:before {
          background-position: -224px 0;
        }
      }
    }
  }
}

#article-inner {
  .article-banner {
    text-align: center;
    width: 100%;
    max-height: 480px;
    height: auto;
    font-size: 62.5%;
    background-image: none !important;
    & > img {
      display: block !important;
      font-size: 0;
      visibility: visible !important;
      width: 100%;
      height: auto;
    }
  }

  .article-title {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20px;
    font-size: 62.5%;
    z-index: 3;    

    h1 {
      display: inline-block;
      max-width: 950px;
      text-align: left;
      margin: 20px auto 0;
      font-size: 9em;
      line-height: 0.8em;
      z-index: 0;      
      span {
        font-family: "Plantin", serif;
        font-weight: bold;
        letter-spacing: -2px;
        display: inline-block;
        padding: 20px 30px 20px;
        color: white;
        background: black;
        zoom: 1;
      }
    }    
  }

  .article-body {
    z-index: 1;
    font-family: "Plantin", serif;
    font-size: 62.5%;
    max-width: 1200px;
    margin: 0 auto 80px;
    background: white;
    padding: 100px 0 60px;
    box-sizing: border-box;  
    a {
      color: black;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .article-info {
      max-width: 950px;
      margin: 0 auto;
      font-family: "TradeGothic", serif;
      font-size: 1.5em;
      padding-bottom: 25px;
      margin-bottom: 50px;
      border-bottom: 1px solid #ccc;
      width: 100%;
      display: table;
      
      .author-picture {
        display: table-cell;
        margin: 0 15px;
        width: 54px;
        height: 54px;
        overflow: hidden;
        a {
          display: block;
          width: 54px;
          height: 54px;
        }
        img {
          width: auto;
          height: 100%;
        }        
      }
      .author-info {
        font-family: "TradeGothic", serif;
        letter-spacing: 0.3px;
        display: table-cell;
        padding-left: 10px;
        height: 54px;
        vertical-align: middle;
        a.author-name {
          padding-right: 10px;
        }
        span {
          display: inline-block;
        }
      }
      ul.article-tags {
        margin: 0;
        padding: 0;
        display: table-cell;
        height: 54px;
        vertical-align: middle;
        text-align: right;
        margin-right: 22px;
        li {
          list-style: none;
          display: inline-block;
          a {
            margin: 0;
          }
          &:not(:last-of-type) {
            a:after {
              content: ', ';
            }
          }
        }
        @media screen and (max-width: 660px) {
          display: none;
        }
      }
    }
    .article-content {
      color: #242424;
      max-width: 950px;
      margin: 0 auto;

      h2 {
        padding-right: 250px;
        text-align: left;
        margin-bottom: 45px;
        font: 3.5em/1.3em "Plantin";
        letter-spacing: -0.02em;
        font-weight: normal;
        .border-box();
      }
      p {
        margin-bottom: 33px;
        padding: 0 80px;
        font: 2.2em/1.5 Plantin;
        letter-spacing: -0.01em;
        .border-box();
      }
      p.image, p.image-full {
        margin: 40px auto 45px;
        img {
          width: 100%;
          margin-bottom: 20px;
        }
        text-align: center;
        em {
          font-family: TradeGothic;
          font-style: normal;
          font-size: 15px;
        }
        &:before {
          content: '';
          display: block;
          border-bottom: 1px solid #ccc;
          margin: 0 auto;
          width: 50%;
          margin-bottom: 38px;          
        }
        &:after {
          content: '';
          display: block;
          border-top: 1px solid #ccc;
          margin: 0 auto;
          width: 50%;
          margin-top: 20px;
        }
      }
      p.image-full {
        margin: 40px 0 45px;
        max-width: 100%;
        padding: 0;
      }
      hr.fancy {
          margin-bottom: 33px;
          border: 0;
          height: 1px;
          background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
          background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
          background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
          background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
      }
      hr {
        margin-bottom: 33px;
        width: 50%;
        color: #ccc;
        background: #ccc;
        height: 1px;
        border: none;
      }
      h3, h4 {
        margin-bottom: 33px;
        padding: 0 80px;
        font: 2.8em/1.5 "Plantin";
        font-weight: bold;
        letter-spacing: -0.01em;
        .border-box();
      }
      h4 {
        font-size: 2.2em;
        line-height: 1.5;
        margin-bottom: 20px;      
      }
      a {
        color: #ee5b33;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      ul {
        position: relative;
        margin-bottom: 33px;
        padding: 0 80px;
        .border-box();
        > li {
          position: relative;
          padding-left: 87px;
          padding-bottom: 10px;
          list-style: none;
          font-size: 2.2em;
          line-height: 1.5;
          &:before {
            content: '';
            display: inline-block;
            width: 17px;
            height: 17px;
            background: url(../../images/article-bullet.png) 0 0 no-repeat;
            -webkit-background-size: 17px 17px;
            background-size: 17px 17px;
            vertical-align: middle;
            padding-right: 35px;
            margin-top: -3px;
            margin-left: -53px;
          }
        }
        ul, ol {
          margin-bottom: 0;
        }               
      }
      ol {
        margin-bottom: 33px;
        padding: 0 80px 0 145px;
        .border-box();
        > li {
          padding-left: 20px;
          padding-bottom: 10px;
          font-size: 2.2em;
          line-height: 1.5;
        }
        ul {
          padding-left: 20px;
          margin-bottom: 0;
        }
        ol {
          padding-left: 61px;
          margin-bottom: 0;
        }
      }
      blockquote {
        max-width: 780px;
        margin: 75px auto;
        padding: 0 80px;
        font: 2.2em/1.5 Plantin;
        letter-spacing: -0.01em;
        .border-box();
        font-family: TradeGothic;
        font-size: 1.9em;
        border-left: 2px solid #ccc;
      }
      blockquote ~ .source {
        font-family: TradeGothic;
        display: block;
        text-align: center;
        margin: 0 auto 50px;
        font-size: 1.5em;
        span {
          display: inline-block;
          padding-bottom: 20px;
          border-bottom: 1px solid #ccc;
        }        
      }
      .pull-quote {
        font-family: TradeGothic;
        position: relative;
        width: 400px;
        float: right;
        font-size: 1.9em;
        .border-box();
        padding: 35px;
        margin-left: 25px;
        margin-bottom: 25px;
        background-color: #f0f0f0;        
        &:before {
          content: '\201C';
          display: block;
          position: absolute;
          left: 1px;
          top: 1px;
          font-family: Plantin;
          font-style: italic;
          font-size: 5em;
           color: #e2e2e2;
        }
        span {
          position: relative;
          z-index: 1;
        }
        & + * {
          .clear-fix();
        }
      }
      pre {
        width: 100%;
        max-width: 790px;
        margin: 0 auto 30px;
        font-size: 1.5em;
        line-height: 1.5;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding:0;
        font-size: 0;
        code {
          font-size: initial;
          width:790px;
          display: inline-block;
        }      
      }
      .article-footer {
        border-top: 1px solid #ccc;
        margin-top: 150px;
        width: 100%;
        .footer-doodle {
          position: relative;
          height: 110px;
          width: 90px;
          margin: -55px auto 0;
          background: white;
          &:before {
            content: '';
            display: block;
            position: absolute;
            width: 42px;
            height: 40px;
            left: 22px;
            top: 31px;
            background-color:#fff;
            background-image:url(../images/spritempd-small.png);
            background-repeat: no-repeat;
            background-position: -140px 0;
            zoom:1;            
          }
          &.company:before {
            background-position: -312px 0;
          }
          &.team:before {
            background-position: -265px 0;
          }
          &.careers:before {
            background-position: -99px 0;
          }
          &.contact:before {
            background-position: -409px 0;
          }
          &.design:before {
            background-position: -140px 0;
          }
          &.development:before {
            background-position: -184px 0;
          }
          &.business:before {
            background-position: -224px 0;
          }
        }
      }
    }
  }
}

