<footer id="footer">
	<div class="contact-info">
		<span>hello@myplanet.io</span>
		<span>866-546-2345</span>	
	</div>
	<div class="additional-info">
		<div class="contact">
			<h3>Myplanet</h3>
			<span>866-232-7456</span>
			<span>hello@myplanet.io</span>
		</div>
		<div class="address">
			<h3>Toronto</h3>
			<span>252 Adelaide St E</span>
			<span>Toronto, Ontario</span>
			<span>M5A 1N1</span>
		</div>
		<div class="address">
			<h3>Vancouver</h3>
			<span>312-510 West Hastings</span>
			<span>Vancouver, BC</span>
			<span>V6B 1L8</span>
		</div>
		<div class="address">
			<h3>Cherniev</h3>
			<span>TBD</span>
		</div>
	</div>
 </footer>
