<footer class="footer" id="contact">
	<div class="contact-info">
		<div class="email-us">
			<h3>e-mail us</h3>
			<p><a href="mailto: hello@myplanet.io">hello@myplanet.io</a></p>
		</div>
		<div class="call-us">
			<h3>call us</h3>
			<p>1-866-232-7456</p>
		</div>
	</div>
	<div class="additional-info">
		<div class="contact">
			<h3>Connect with us</h3>
			<ul class="social-media-footer">
				<li><a class="twitter" href="http://twitter.com/myplanetHQ" target="_blank">Twitter</a></li>
				<li><a class="facebook" href="http://www.facebook.com/myplanetHQ" target="_blank">Facebook</a></li>
				<li><a class="dribbble" href="http://dribbble.com/myplanet" target="_blank">Dribbble</a></li>
				<li><a class="drupal" href="http://drupal.org/node/1121200" target="_blank">Drupal</a></li>
				<li><a class="linkedin" href="http://www.linkedin.com/company/701891" target="_blank">Linkedin</a></li>
			</ul>
		</div>
		<div class="address toronto">
			<h3>Toronto</h3>
			<a data-long-lat="43.65163,-79.37104" href="http://maps.google.com/?q=252 Adelaide St E, Toronto, ON, Canada" target="_blank">
				<span>252 Adelaide St E</span>
				<span>Toronto, Ontario</span>
				<span>M5A 1N1</span>
			</a>
		</div>
		<div class="address vancouver">
			<h3>Vancouver</h3>
			<a data-long-lat="49.28411,-123.11223" href="http://maps.google.com/?q=312-510 West Hastings, Vancouver, BC, Canada" target="_blank">

				<span>312-510 West Hastings</span>
				<span>Vancouver, BC</span>
				<span>V6B 1L8</span>
			</a>
		</div>
		<div class="address chernihiv">
			<h3>Chernihiv</h3>
			<a data-long-lat="51.497299,31.311979" href="http://maps.google.com/?q=21a Voiniv-Internatsionalistiv St, Chernihiv, Ukraine" target="_blank">
				<span>21a Voiniv-Internatsionalistiv St</span>
				<span>Chernihiv, Ukraine</span>
				<span>14000</span>
			</a>
		</div>
		<div class="address chicago">
			<h3>Chicago</h3>
			<a data-long-lat="41.881567,-87.633187" href="http://maps.google.com/?q=155 North Wacker Dr. Chicago, IL" target="_blank">
				<span>155 North Wacker Dr. Suite 4250</span>
				<span>Chicago, IL</span>
				<span>60606</span>
			</a>
		</div>
	</div>
</footer>
