<footer class="container">
	<div class="row text-center">
		<div class="col-md-12">
			<h3>hello@myplanet.io</h3>
			<h3>866-546-2345</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h4>Myplanet</h4>
			<ul>
				<li>866-232-7456</li>
				<li>hello@myplanet.io</li>
			</ul>
		</div>
		<div class="col-md-3">
			<h4>Toronto</h4>
			<ul>
				<li>252 Adelaide St E</li>
				<li>Toronto, ON</li>
				<li>M5A 1N1</li>
			</ul>
		</div>
		<div class="col-md-3">
			<h4>Vancouver</h4>
			<ul>
				<li>312-510 West Hastings</li>
				<li>Vancouver, BC</li>
				<li>V6B 1L8</li>
			</ul>
		</div>
		<div class="col-md-3">
			<h4>Cherniev</h4>
			<ul>
				<li>TBD</li>
			</ul>
		</div>
	</div>
</footer> 